[2020-12-25 22:30] hibiken opened #1 "Add scheduler history"

[2020-12-25 22:30] hibiken opened #2 "Add servers page"

[2020-12-25 22:31] hibiken opened #3 "Add Task Processed History"

[2020-12-25 22:57] hibiken opened #4 "Add "Send Feedback" link"

[2020-12-26 23:04] #1 closed, assigned to nobody

[2020-12-27 02:46] #4 closed, assigned to nobody

[2020-12-28 15:16] #3 closed, assigned to nobody

[2021-01-01 07:45] hibiken opened #5 "Add Remote control actions for running servers"
Add actions to
- Quiet server
- Stop server

from the Web UI

[2021-01-01 15:09] hibiken opened #6 "Show redis stats on queues page"

[2021-01-03 14:25] #2 closed, assigned to nobody

[2021-01-06 04:54] #6 closed, assigned to nobody

[2021-01-06 04:54] hibiken opened #7 "Add 404 page with react-router"

[2021-01-07 14:42] #7 closed, assigned to nobody

[2021-01-07 14:47] hibiken opened #8 "Use custom favicon"

[2021-01-08 03:57] #8 closed, assigned to nobody

[2021-01-08 14:31] hibiken opened #9 "Show error message in UI when server cannot connect to redis"

[2021-01-10 02:08] #9 closed, assigned to nobody

[2021-01-10 02:09] hibiken opened #10 "Display redis cluster node information"
Add `--redis_cluster` boolean flag
If the flag is set, display redis cluster node information in redis info page.

[2021-01-10 02:09] hibiken opened #11 "Add dark theme"
- Add a toggle switch in the settings page

[2021-01-13 00:12] #11 closed, assigned to nobody

[2021-01-18 03:24] hibiken opened #15 "Support Delete, Archive Pending Tasks"

[2021-01-18 03:25] hibiken opened #16 "Show Queue latency"

[2021-01-18 03:25] hibiken opened #17 "Show Task metadata"
- Deadline
- Timeout
- Unique key lock expiration

[2021-01-28 14:46] #15 closed, assigned to nobody

[2021-01-28 14:46] hibiken opened #18 "Show what type of tasks are in the queue"

[2021-02-01 07:08] #17 closed

[2021-04-05 23:37] hibiken opened #64 "Automate Publishing to Docker Hub"

[2021-04-06 18:38] koddr opened #69 "Hold last choosen time period in Task Processed block"
Now, if you go to any other section and return to the main screen, the time period will be reset to `LAST 7D`.

![Screenshot 2021-04-06 at 15 37 08](https://user-images.githubusercontent.com/11155743/113761047-abf9fe80-971f-11eb-9de6-ed06fd41a629.png)

It would be nice if the choices were stored in browser's`localStorage` or cookies, as an option.

[2021-04-06 20:01] koddr opened #70 "Create a formula to installation from Homebrew"
Hi,

I think, better way to delivery Asynqmon to macOS/Linux users is a regular Homebrew formula. You can place it to the "tap repository" called, for example, `hibiken/homebrew-asynqmon` (this name of repository is [required](https://docs.brew.sh/Taps.html) for Homebrew tap formulas).

OK, our formula in `./Formula/tap.rb` is a simple Ruby file with this code:

[code]

Next steps:

- Push this fi

[2021-04-06 21:41] koddr opened #71 "Switch from Roboto to Inter font"
`https://fonts.googleapis.com/css?family=Inter:300,400,500,700&display=swap`

With [Inter](https://fonts.google.com/specimen/Inter) font dashboard looks more clear:

![Screenshot 2021-04-07 at 00 35 36](https://user-images.githubusercontent.com/11155743/113781444-61857b80-9739-11eb-8941-2fede3a15536.png)

[2021-04-06 22:32] hibiken commented on #69
Good catch!
This should be something stored as user settings and should persist across page navigation/refresh.

Also, I noticed that the "page size" option in the task view also doesn't persist, so we need to fix that as well.

Should be a simple change.
I can probably get to it in a few days but if anyone wants to have a go at it, feel free :)

[2021-04-06 22:34] hibiken commented on #70
@koddr Thanks for the suggestion!
Anything that makes this tool more accessible to more developers is welcome. I think we should definitely support installing the tool via homebrew. I'll look into it 👍

[2021-04-06 22:38] hibiken commented on #71
I see. Currently, this web UI heavily relies on [Material UI](https://material-ui.com/), which says that ["it was designed with the Roboto font in mind"](https://material-ui.com/getting-started/installation/#roboto-font).
To avoid any style breakage, I'd prefer to stick with the Roboto font.

As alternative, I can see supporting other fonts as user settings :)

[2021-04-07 03:53] hibiken commented on #71
@koddr btw, what do you use to take these screenshots? it looks really nice.

[2021-04-07 06:17] koddr commented on #71
Hi,

That's awesome (and really clear) idea! Yes, it would be nice to have on Settings.
I tried most of Google Fonts (a lot) on my projects and recommend this fonts:

- [Inter](https://fonts.google.com/specimen/Inter?preview.text=Asynq%20is%20awesome!&preview.text_type=custom&preview.size=24)

![Screenshot 2021-04-07 at 09 00 12](https://user-images.githubusercontent.com/11155743/113817882-b0ee9a8

[2021-04-09 00:27] #64 closed

[2021-04-10 13:47] #69 closed

[2021-04-14 17:03] koddr opened #78 "Add some user auth to dashboard"
Hi,

I think is a good practice to cover Asynqmon dashboard with some auth procedure to login. A common case is when such tools are put side by side in a Docker container and need to be accessed remotely over the network.

For example, we can set this `username` and `password` by environment variables at starting Docker container:

[code]

And catch them by simple `os.Getenv` function in backend.

[2021-04-14 17:41] hibiken commented on #78
Yep, sounds good! We should allow options to enable auth (a simple auth to begin like you suggested).

Let me look into this 👍

[2021-04-16 19:56] hibiken opened #82 "Task Processed chart seems to be capped at 10000"
Looks like the Task Processed chart has implicit maximum of 10000 and does not go beyond this number.
Need investigation.

[2021-04-22 08:02] victor-wzq opened #85 "ERR unknown command 'memory'"
api/queues have error ERR unknown command 'memory'

[2021-04-22 15:50] hibiken commented on #85
@victor-wzq thank you for opening an issue.

My guess is that you are running Redis server version below 4.0.
Asynq currently requires redis v4.0+

[2021-04-26 07:37] victor-wzq commented on #85
thank you for your answer.

[2021-04-26 07:37] #85 closed

[2021-04-30 08:51] McSquanchy commented on #18
Would be great if we were able to filter the "processed tasks" using the different types of tasks.

[2021-05-02 14:06] hibiken commented on #18
@McSquanchy Thanks for the suggestion!
We can make the breakdown of "processed tasks" and "failed tasks" available 👍

[2021-05-08 04:59] crossworth opened #97 "Not working on Windows"
Hi, great project. I'm trying using it on Windows, but can't get it to work.

When running and trying to access the browser, the following error is displayed:
`open ui\build\index.html: file does not exist`

I have done some diging and have found the problem, but don't know the right "fix", so for this reason I'm opening this issue instead of PR.

Basically on this line, `filepath.Abs` returns `C:

[2021-05-08 17:53] hibiken commented on #97
@crossworth Thank you for reporting this issue!
Apologies for not testing fully on other OSs 🙏

Is this blocking you from using the tool completely? Or have you found a way to work around it until the fix is in?
(I'm trying to gauge the priority of this bug).

[2021-05-08 19:09] crossworth commented on #97
No worries, I'm able to use with the changes from my last message.

So maybe this can be low priority.

[2021-05-08 20:44] spacecodewor opened #98 "Error UI in Safari and Chrome"
Hi, the logo in Safari and Chrom is now broken.

And the menu set is different in Safari and Chrome.

While I'm trying to run ui from a local machine and everything comes down to the impossibility of connecting to redis, I'm trying to figure it out.

mostly errors:
"GET / api / redis_info HTTP / 1.1" 500 53

tls: DialWithDialer timed out

But I checked the connection from the local machine and eve

[2021-05-09 04:29] hibiken commented on #98
@spacecodewor Thank you for reporting this issue!
Apologies, I pushed a new image without QA-ing the recent changes.

I'll be working on the fix ASAP but in the meantime, please use the tagged version 0.1-beta1 ([dockerhub](https://hub.docker.com/layers/144514027/hibiken/asynqmon/0.1-beta1/images/sha256-a13e6299a8f935ca8d1c8ca35f9a5a9b3a401b0a90e58fe6cce5c577de873304?context=explore), [release bin

[2021-05-09 05:11] #98 closed

[2021-05-09 05:16] hibiken commented on #97
Got it, thanks for letting me know!
I'll get to this issue in a few weeks 👍

[2021-05-09 05:18] hibiken commented on #98
I fixed the issue and pushed the updated image to docker hub 👍

Let me know if you are still seeing the issue!

[2021-06-16 20:13] Karman40 opened #119 "Only redis"
Hey,

I checked out the repository and one is a great app. I couldn't find a description of whether the application only works with redis db? I'm using NodeJs and Ubuntu 20.04 and I'm looking for something to manage the redis on the server for which this app would be great.

If all is true this only works with https://github.com/hibiken/asynqmon, doesn't it?

Thnaks a lot!

[2021-06-17 02:11] hibiken commented on #119
@Karman40 thank you for opening this issue!

Asynq currently only supports Redis as message broker but we are planning to support other message brokers in the future.

Let me know if that answers your question.

[2021-06-17 09:10] Karman40 commented on #119
Hello!

Sorry if I was misunderstood, my English is not real.
I have an Ubuntu 20.04 LTS server running only one redis 5.x.x server.

I accidentally found this surface that I liked, but it didn't work. I saw the redis server information, but I didn't see the processors or waiting tasks.

The question was, can the interface be used only with redis, without "Asynq"?

Thanks!

[2021-06-17 15:59] hibiken commented on #119
Thank you for clarifying!

I don't think the Web UI is useful for general redis monitoring. It's meant to be used for Asynq specific monitoring / admin purpose.

[2021-06-17 15:59] #119 closed

[2021-06-23 01:16] LINJINTIANDE opened #121 "Could not retreive queues live data"
Could not retreive queues live data — See the logs for details，But I see the log is request 200
![image](https://user-images.githubusercontent.com/42436479/123019756-adc08d80-d403-11eb-9276-7e265ba24424.png)
![image](https://user-images.githubusercontent.com/42436479/123019778-bb761300-d403-11eb-86f8-11b3ded2655e.png)

[2021-06-25 12:58] hibiken commented on #121
Would you mind inspecting the response body using the chrome network tab? (Sorry for a late response!)

[2021-06-25 18:33] acgfbr opened #122 "queue not exist"
my worker has up but queues not showing, whats the problem?

![image](https://user-images.githubusercontent.com/8755427/123470252-87991a00-d5ca-11eb-96fb-1299070d992a.png)
![image](https://user-images.githubusercontent.com/8755427/123470307-9a135380-d5ca-11eb-9c51-60865d45574f.png)
![image](https://user-images.githubusercontent.com/8755427/123470350-a9929c80-d5ca-11eb-8e8c-70e5c103cfa8.png)

Thank

[2021-06-25 18:35] acgfbr commented on #122
error says: queue "critical" does not exist

[2021-06-25 18:49] crossworth commented on #122
Hello.
Do you have any job on the queue?

I just checked and the queue will only show up if you have jobs on it.

[2021-06-25 19:04] acgfbr commented on #122
yeah, i put items but not showing queues, it proccess normally

[2021-06-25 19:11] acgfbr commented on #122
![image](https://user-images.githubusercontent.com/8755427/123474198-fdec4b00-d5cf-11eb-9803-ad36ad3c5c5c.png)

[2021-06-25 19:14] crossworth commented on #122
With `async cli` do you have the same problem?

https://github.com/hibiken/asynq/tree/master/tools/asynq

[2021-06-26 01:05] acgfbr commented on #122
![image](https://user-images.githubusercontent.com/8755427/123496978-656ebe80-d601-11eb-9270-a3a7353da403.png)
solved, my bad guys.

[2021-06-26 01:05] #122 closed

[2021-07-02 04:07] mailbaoer opened #127 "got a 502 when state has tasks"
my asynqmon version is 0.20, and asynq version is 0.18, when a state have tasks, it will show 502 error page, but have no tasks is ok
![screenshot-20210702-120603](https://user-images.githubusercontent.com/5282978/124219017-02fc4d80-db2e-11eb-8e21-b69815806e76.png)
the panic log is below
![screenshot-20210702-155824](https://user-images.githubusercontent.com/5282978/124241455-59798400-db4e-11eb-98

[2021-07-02 12:35] crossworth commented on #127
Hi, looks like you have an invalid uuid on Redis (or invalid protobuf message).

Did you follow the migration guide?

https://github.com/hibiken/asynq/wiki/Version-Upgrade-Guide-%28from-0.17-to-0.18%29

[2021-07-04 06:24] mailbaoer commented on #127
sorry, that's my fault, one server has not update successfully, so it send the old data, thank you for your answer

[2021-07-04 06:24] #127 closed

[2021-07-09 13:35] hibiken commented on #121
Closing this since no updates. Let me know if you are still seeing the issue!

[2021-07-09 13:35] #121 closed

[2021-07-13 18:22] acgfbr opened #142 "servers not showing"
my servers not showing but tasks aparently processing normal

![image](https://user-images.githubusercontent.com/8755427/125504884-9eb8dce9-d8b0-41c9-bb82-a8d9d3770577.png)

![image](https://user-images.githubusercontent.com/8755427/125504921-33c59a98-bf23-4fc2-a16c-cbd8786ec42f.png)

![image](https://user-images.githubusercontent.com/8755427/125504950-bae8e3c2-f096-4be1-8aa9-90c505c879c7.png)

[2021-07-13 18:38] crossworth commented on #142
Hi, does`asynqmon` process log have more info? Maybe a panic?

[2021-07-13 22:58] acgfbr commented on #142
yes:
![image](https://user-images.githubusercontent.com/8755427/125535610-19c83fa8-91c1-4761-adc1-96266da28de5.png)

im running on k8s, my helm chart:

![image](https://user-images.githubusercontent.com/8755427/125535716-db936ecc-8a7a-411f-bd8d-0b0d2f007c7c.png)

im run locally and everything works, wtf :(

[2021-07-13 23:01] crossworth commented on #142
see https://github.com/hibiken/asynqmon/issues/127, I think is related.

[2021-07-13 23:13] acgfbr commented on #142
i found my error, im running asynq with 0.17 version, i wil upgrade, thanks

[2021-07-13 23:13] #142 closed

[2021-07-22 18:36] pbarnum opened #144 "Missing cluster configuration"
The code indicates that the only way to connect `asynqmon` to `redis` is through a single client connection. This doesn't seem to work when dealing with a cluster setup.

Perhaps if you `strings.Split` the address string and detect multiple IPs, you can then set up the connection using the cluster connection configs.

[2021-07-23 02:51] hibiken commented on #144
@pbarnum thank you for opening this issue!

Similar issue #10
Currently the Web UI doesn't support connecting to Redis Cluster. I'll work on this soon 👍

[2021-08-06 04:55] mm2175 opened #146 "add homebrew install option"

[2021-08-07 14:17] hibiken commented on #146
@mm2175 thank you for opening an issue! I'm planning on publishing a brew tap formulae once the library and the tool become more stable 👍

[2021-08-11 10:09] lululxq opened #147 "task and servers not showing"
![image](https://user-images.githubusercontent.com/22904655/129011234-eed21e98-ca66-46b5-87f6-b418223271ea.png)
![image](https://user-images.githubusercontent.com/22904655/129011288-780d283e-d79a-4b1b-a44c-454fd3b64af7.png)

[2021-08-11 13:22] hibiken commented on #147
Could be the version mismatch.

What's the version of `asynq` package and version of `asynqmon`?

[2021-08-12 03:32] lululxq commented on #147
thankyou,it's version mismatch.

[2021-08-12 15:26] hibiken commented on #147
@lululxq thank you for raising this issue. I'll update the README so that it's clear to other people.

[2021-08-26 03:20] qiuyuzhou opened #149 "need log more info when http status 500"
[code]

asynq: 0.18.4
asynqmon: 0.2.2

[2021-08-26 21:28] #149 closed, assigned to nobody

[2021-09-02 08:28] seanyu4296 opened #150 "Is it possible to inject redis_address and other flag options through env variable?"

[2021-09-02 09:21] seanyu4296 opened #151 "Getting certificate error when connecting to elasticache redis"
## Setup
Dockerfile
[code]

## Error
[code]

Would u know on how to fix this? I tried doing this https://stackoverflow.com/questions/52601404/aws-ses-error-x509-certificate-signed-by-unknown-authority ? which explains the dockerfile above

[2021-09-02 13:06] hibiken commented on #150
Did you try passing via `--redis-addr` flag?

[2021-09-02 13:29] seanyu4296 commented on #150
Ah yes.

Just wondering if there's a way since I plan to run it in a kubernetes deployment and inject the config through env variables using config map

[2021-09-07 14:10] #10 closed

[2021-09-08 00:07] #144 closed

[2021-09-08 00:08] hibiken commented on #146
duplicate of #70

[2021-09-08 00:08] #146 closed

[2021-09-12 06:24] lufishggg opened #153 "Record the error info for failed task"
Maybe we can record the error info for failed task which is good for debugging and online monitoring

[2021-09-12 13:55] hibiken commented on #153
@lufishggg thank you for opening an issue!

Currently, `asynq` stores the error message from the last failure (if any) and this is shown in the WebUI.
If you need more error info (e.g. entire error history not just the last one, stack trace, etc) and for monitoring/alerting you can probably use an error reporting service (e.g. Bugsnag, Rollbar, Sentry, Airbrake, etc).
Asynq provides [`ErrorHandler

[2021-09-14 03:42] lufishggg commented on #153
thanks

[2021-09-17 08:09] lufishggg opened #156 "Add a server path option to proxy the asynqmon"
For example there is an application running at port 3000, asynqmon running at port 3001. We want the path /asynqmon to proxy to port 3001, which now is impossible because of the path prefix unmatch.

[2021-09-21 00:37] hibiken commented on #156
@lufishggg thank you for opening this issue!

What are you using for reverse proxy? Also, would you mind giving more details on what's making things impossible?

[2021-09-21 00:38] hibiken commented on #153
Closing this, but feel free to reopen if you have further questions or feedback!

[2021-09-21 00:38] #153 closed

[2021-09-22 16:59] flamedmg commented on #156
I have the same issue, i tried to use asynqmon as a docker image and bind it to:
/asynqmon
Html loads just fine, but app requests all it's resources from the root
<img width="817" alt="CleanShot 2021-09-22 at 19 59 03@2x" src="https://user-images.githubusercontent.com/416393/134388386-7adb71f6-a19c-45e1-a790-800acec0194f.png">

[2021-09-23 05:22] seanyu4296 commented on #151
was able to fix this through

[code]

[2021-09-23 05:22] #151 closed

[2021-09-23 08:51] lukasmalkmus opened #158 "Make it importable as a package"
This is a **Feature Request**: It would be awesome to make this package importable, so I can mount the endpoints onto my own router. If you are ok with this, I would love to draft a PR or at least track some ideas in this issue.

The idea is, that I have a very simple API and would like to run `asynqmon` alongside it, from the same app. This is way easier then going for a complicated setup (two ap

[2021-09-23 09:04] lukasmalkmus opened #159 "Bad module name"
The module name in `go.mod` should be `github.com/hibiken/asynqmon` instead of `asynq`. I would love to see this fixed as this makes it possible to tag q version of this tool with `tools.go`.

[2021-09-23 16:57] hibiken commented on #159
@lukasmalkmus thank you for spotting this!
Yes, please feel free to open a PR 👍

[2021-09-23 16:58] hibiken commented on #158
@lukasmalkmus this is not the first time I'm hearing this feedback!
Please feel free to create a PR for this!

[2021-09-23 16:59] hibiken commented on #156
Ok let me looking into this in the coming weeks! If this is urgent, please feel free to open a PR!

[2021-09-24 10:38] lukasmalkmus commented on #158
Perfect, on it! :)

Only thing that could be tricky: I like the usage of the `embed` package. But this might require us to check in the frontend code (in `ui/build`). I'll take a look.

[2021-09-24 10:39] lukasmalkmus commented on #158
I also noticed there is a PR up already. I just searched issues when looking if someone already had the same idea.

[2021-09-24 10:41] lukasmalkmus commented on #159
@hibiken I just noticed that PR #157 addresses this issue (#159) as well as #158. You might want to take a look :)

[2021-09-24 18:04] rugwirobaker opened #161 "Environment variables as an alternative to cmd flags"
Environment variables would make this easy to deploy in an environment such as Heroku or Cloud Run without any modifications. So I propose for asynqmon to read environment variables in case the corresponding flag is not set.

Related to #150

[2021-09-25 13:34] hibiken commented on #161
@rugwirobaker thank you for opening this issue!
Makes sense. Would you mind opening a PR for this?

[2021-09-26 13:33] lufishggg commented on #156
Thanks!

[2021-09-28 08:38] TankJam opened #163 "Asynqmon Web UI Does not support redis"
[code]

    Asynqmon Web UI Does not support redis

![image](https://user-images.githubusercontent.com/38001458/135053299-1c6167fb-b931-41a5-a643-d9bffe4798f7.png)

![image](https://user-images.githubusercontent.com/38001458/135053440-08059c9f-2217-4ecd-a9df-c60542bb8aca.png)
![image](https://user-images.githubusercontent.com/38001458/135053473-28267cf8-3f0c-472c-a5a8-ea2812a7f6bf.png)

[2021-09-30 13:33] hibiken commented on #163
@TankJam thank you for opening an issue! Where is your redis process running? Is in a docker container? or on the host machine?

If redis-server is running directly on the host machine you should provide `--redis-addr=host.docker.internal:6379` (Mac and Windows)

[2021-10-04 02:36] justpoypoy commented on #163
hi @hibiken i am got same issue on my dev server, my redis server running on host machine in centos 7. i am running asynqmon use docker with default config

[2021-10-06 09:28] StormYudi opened #166 "Could not retreive servers live data."
Hi, I have a problem with asynqmon:

Error
Could not retreive servers live data — See the logs for details

But I can see the redis server info from dashboard.

![image](https://user-images.githubusercontent.com/19419186/136176468-c9d4994e-a8bf-41d7-ba2c-391a50efbf2d.png)
![image](https://user-images.githubusercontent.com/19419186/136176934-9abf5dc7-3a9d-48d9-87c9-467c6677fb3d.png)
![image](https:

[2021-10-06 13:01] hibiken commented on #166
@StormYudi thanks for opening an issue!
Do you have asynq CLI installed? If so, would you mind running a few commands, such as:
- `asynq queue ls`
- `asynq server ls`
- `asynq stats`
- etc

[2021-10-06 13:23] StormYudi commented on #166
Thank you for your support, But I seem to find that it's a version mismatch. I will close this comment now..

[2021-10-06 13:23] #166 closed

[2021-10-08 03:51] TankJam commented on #163
I tried what you said，But it still can't be solved

I Execute the following command：

docker run --rm \
    --name asynqmon \
    -p 8080:8080 \
    hibiken/asynqmon --redis-addr=host.docker.internal:6379

result:
![image](https://user-images.githubusercontent.com/38001458/136495410-d55fcd24-9366-46b7-a40c-259f5d560c98.png)

[2021-10-08 03:51] TankJam commented on #163
I tried what you said，But it still can't be solved

I Execute the following command：

docker run --rm
--name asynqmon
-p 8080:8080
hibiken/asynqmon --redis-addr=host.docker.internal:6379

![image](https://user-images.githubusercontent.com/38001458/136495492-d0eb394c-9aef-45db-9b61-41666e312a42.png)

[2021-10-08 16:43] hibiken commented on #163
Sorry to hear.

What OS are you using? And where is your redis-server running?

[2021-10-11 02:31] KanybekMomukeyev opened #169 "error Couldn't find a package.json file in "/static""
Building asynqmon
Step 1/16 : FROM alpine:3.13 AS frontend
3.13: Pulling from library/alpine
4e9f2cdf4387: Pull complete
Digest: sha256:2582893dec6f12fd499d3a709477f2c0c0c1dfcd28024c93f1f0626b9e3540c8
Status: Downloaded newer image for alpine:3.13
 ---> 12adea71a33b
Step 2/16 : WORKDIR /static
 ---> Running in ba029a731c1d
Removing intermediate container ba029a731c1d
 ---> 23be42dab112
Step 3/16 :

[2021-10-11 02:32] KanybekMomukeyev opened #170 "Can not build image from Dockerfile. Error Couldn't find a package.json file in "/static""
[code]

[2021-10-19 23:33] zeroallox opened #186 "Large payloads cause crash in Chrome"
Hello,

When jobs contain large payloads, the preview causes the page to crash.

[https://i.imgur.com/iA5G3zH.png](Screenshot)

Is it possible to hide this column or view the preview in a separate window / download it as a text file?

This library is amazing BTW. Thank you for creating and maintaining it.

[2021-10-20 02:15] hibiken commented on #186
@zeroallox thank you for creating an issue!

We should truncate the payload displayed on the page you've shown in the image. I'll find a sensible default bytes size for the threshold and make it customizable via a flag. We should be able to have a larger value for the threshold for the task details page (the page you can navigate to by clicking on one of the rows), or not limit at all for the deta

[2021-10-21 07:41] swagftw opened #187 "Unable to host dashboard through echo http framework"
I will try to keep it simple and short

- Using echo http framework
- Redis is up and running
- When trying to hit `localhost:8080/events/dashboard/` blank page is returned with multiple 404 responses as shown below
  - "/events/dashboard/static/js/2.980b0c32.chunk.js"
  - "/events/dashboard/static/js/main.090c4a40.chunk.js"
  - "/events/dashboard/apple-touch-icon.png"

 **Check the code below**
[

[2021-10-26 10:32] hieunguyen1809 opened #191 "UNKNOWN: UNKNOWN: redis eval error: ERR Error running script"
Hi guys, I'm using as an library. It's run fine in my lap but fail on remote. Can I know what is the root cause of this? Thank you so much.
- I'm using go-chi framework
- Redis docker img is eqalpha/keydb
- When no queues available, everything fine. But if has queue then this api is 500 `api/queues`.
[https://photos.app.goo.gl/9rd7HX8DB9i4c8Le9](url)

**Stacktrade:**
`UNKNOWN: UNKNOWN: redis eval

[2021-10-26 17:19] #169 closed, assigned to nobody

[2021-10-28 04:32] #191 closed, assigned to nobody

[2021-11-10 08:06] zijiwork commented on #187
Hello,  How to integrate dashboards in gin framework

[2021-12-14 00:48] hibiken commented on #161
Closed via #198

[2021-12-14 00:48] #161 closed

[2021-12-14 00:48] hibiken commented on #150
Closed via #198

[2021-12-14 00:48] #150 closed

[2021-12-14 07:52] tempor1s commented on #187
If anyone runs into this same issue, you are able to integrate Echo and Asynqmon with the following code snippet:

[code]

You should then be able to navigate to `http://localhost:8080/monitoring/tasks/` and view the dashboard.

[2021-12-16 00:01] hibiken commented on #187
Thank you @tempor1s!

[2021-12-16 00:01] #187 closed

[2022-01-10 01:29] hibiken opened #206 "Upgrade to Material UI v5"
v5 is out now, let's upgrade.

[2022-01-10 01:32] hibiken opened #207 "Chart tooltips in dark mode"
Currently, the chart tooltips in dark mode is not respecting the theme settings. They should be have a darker background color in dark mode.

[2022-01-27 14:10] momentumtools opened #210 "[BUG] redis eval error: "this Redis command is not allowed from scripts""
Hi,

locally the asynqmon works perfectly, however now that I just deployed it to my heroku setup (using a [redis enterprise cloud](https://elements.heroku.com/addons/rediscloud) instance the chrome console log returns these errors:

[code]

I googled a bit and this is most likely due to the REDIS server being relatively strict.
Any idea how to circumvent this through an asynqmon configuration (be

[2022-01-28 00:29] hibiken commented on #210
@momentumtools Thank you for opening this issue!

Would you mind providing additional info?

- Redis version number
- Which page (e.g. URL path) in the Web UI triggers this error

[2022-01-28 17:44] momentumtools commented on #210
Hi @hibiken ,

thanks for the quick reply, here are the parameters

- Redis 6.2.3
- paths with errors: /jobs/api/queues
- paths without errors: /jobs/api/servers, /jobs/api/redis_info, /jobs/api/scheduler_entries, /jobs/api/queue_stats

[2022-01-28 23:58] hibiken commented on #210
Thanks!

I haven't confirmed it on my side, but my first guess is this MEMORY USAGE command we are calling in [this Lua script ](https://github.com/hibiken/asynq/blob/dff2e3a33639338c648599bf6ea83f835feec4bf/internal/rdb/inspect.go#L225-L266). Specifically these two lines
https://github.com/hibiken/asynq/blob/dff2e3a33639338c648599bf6ea83f835feec4bf/internal/rdb/inspect.go#L236
https://github.com/

[2022-01-29 00:30] hibiken commented on #210
Actually I take that back, since the redis version is above v4 in this case, [**script effect replication**](https://redis.io/commands/eval#replicating-commands-instead-of-scripts) is used and since the Lua script is read-only, it should be allowed. Not sure where this error is coming from. Let me know if you hear back from the support team.

[2022-01-29 12:46] momentumtools commented on #210
Hi @hibiken , thanks again for such fast support. I'm amazed :)!

I've forwarded https://github.com/hibiken/asynq/blob/dff2e3a33639338c648599bf6ea83f835feec4bf/internal/rdb/inspect.go#L225-L266 to the redis enterprise support, maybe it will ring a bell for them.

Is there a way for us to be surer which LUA script is triggering the error? a kind of debug mode to enable?

[2022-01-30 00:29] hibiken commented on #210
This is a good opportunity to find a bug so thank you for providing the info!

There's no debug mode to quickly figure out the problematic lua script unfortunately, but based on the fact that the error is returned when we make API calls to `/api/queues` endpoint, it tells me that [this handler](https://github.com/hibiken/asynqmon/blob/609b319a9e7daf221cfbae978fd03953cce3c0de/handler.go#L115) is ca

[2022-01-31 11:12] momentumtools commented on #210
Hi @hibiken , I'll pass [the first script](https://github.com/hibiken/asynq/blob/dff2e3a33639338c648599bf6ea83f835feec4bf/internal/rdb/inspect.go#L88) to the redis enterprise support team as well, as I only pasted them the 2nd one you thought the error was in when you wrote https://github.com/hibiken/asynqmon/issues/210#issuecomment-1024754563

[2022-02-04 16:03] tinnkai opened #212 "Hang up for a long time and enter failed in about half an hour"
How to solve this situation? Thank you.
![1643990450(1)](https://user-images.githubusercontent.com/2200272/152561183-c28cac0d-c984-47fa-925b-d377c30a0d05.jpg)

[2022-02-04 17:27] hibiken commented on #212
@tinnkai thank you for opening an issue!

Would you mind showing the output of

[code]

[2022-02-05 08:51] tinnkai commented on #212
@hibiken
![image](https://user-images.githubusercontent.com/2200272/152634928-e5f39a14-10f8-44c9-999c-b3ee9734ce00.png)
It may be caused by the direct shutdown of the service while the queue is being processed,But what I expect can I keep the failure queue and then I can do it manually.
thank you

[2022-02-05 12:45] tinnkai commented on #212
@hibiken
Sorry, I misunderstood. Processed includes the number of failed and successful, that is, entering failed will retry
![image](https://user-images.githubusercontent.com/2200272/152642676-5c418ba6-9766-43cb-a58b-6d0b5698ee28.png)

[2022-02-05 12:48] #212 closed

[2022-02-05 17:53] hibiken commented on #212
@tinnkai Thanks for providing additional info!

I think initial confusion around task being stuck in "active" state is due to how the task recovery works currently when a worker crashes (or forced killed `kill -9`). Currently, asynq recovers task if its deadline has expired over 30s ago, but we have an open issue to improve this by recovering these orphaned tasks more quickly (https://github.com/h

[2022-02-08 02:52] hibiken commented on #210
@momentumtools Any update on this?

[2022-02-08 08:16] momentumtools commented on #210
Nope, redis enterprise support is dead silent...
most likely I'll try with another redis provider and see if the same error occurs, if not it's redis enterprise their loss sadly...

Long story short, this EVAL error did not pop up yet with any other users, right?

[2022-02-09 21:03] aakashbajaj opened #213 "[Feature Request] Monitor/Read-Only Mode"
We can add an additional flag to enable read-only mode that disallows any queue or task edits, just for monitoring the asynq cluster

[2022-02-10 00:49] hibiken commented on #213
@aakashbajaj Thank you for creating a feature request!

This has come up in our Gitter channel before, definitely makes sense to add this read-only mode 👍

[2022-02-15 16:22] munnu-kumar opened #214 "Getting Error: Could not retrieve queues live data — See the logs for details"
I am getting below error on dashboard:
Could not retrieve queues live data — See the logs for details

I have build docker image locally and executed command: docker run --rm \
    --name asynqmon \
    -p 8080:8080 \
    hibiken/asynqmon

Note: I am able to connect to my redis server through asynq library in my service

[2022-02-17 19:54] momentumtools commented on #210
@hibiken ok I got back from their support

I'll thus have to pick another redis provider, but so now when other people bump into this they'll know where to look ;)

[2022-02-17 19:54] #210 closed

[2022-02-18 00:06] hibiken commented on #210
@momentumtools Thank you for the update! Switching to another redis provider sounds like a non-trivial change, especially for some tooling issues. Maybe we should support turning off memory usage command in the script via a flag; For example, we could add a flag `--disable_memory_usage_command` to this Web UI binary. Let me know what you think!

[2022-02-20 14:39] hieunguyen1809 opened #215 "Got panic in uuid.Parse"
Hi guys, today I found that my service suddenly panic with this error. I'm using asynq version 0.18.6
[code]

[2022-02-20 14:41] #215 closed

[2022-02-24 14:18] #16 closed

[2022-02-24 14:19] hibiken commented on #5
Not planning to work on these.

[2022-02-24 14:19] #5 closed

[2022-02-24 14:21] hibiken commented on #214
@munnu-kumar thanks for opening an issue! (Sorry for the delay in response).

Are you running redis in a docker container or directly on the host machine?

If it's the latter, then you probably need to pass a flag like this  `--redis-addr=host.docker.internal:6379`

[2022-03-02 03:07] hieunguyen1809 opened #219 "Pagination not working on Active Tasks Tab"
Hi guys, I found that the pagination of active tab is not working. I have more than 10 tasks but the next page button is still disabled.
img1
<img width="187" alt="Screen Shot 2022-03-02 at 10 06 23" src="https://user-images.githubusercontent.com/57081022/156287303-6262f3b3-ce6c-4533-8cbb-53ef21cb44fd.png">
img2
<img width="1175" alt="Screen Shot 2022-03-02 at 10 06 15" src="https://user-images.gi

[2022-03-02 14:39] hibiken commented on #219
@hieunguyen1809 Thank you for reporting this issue!

I was able to squeeze in the fix for this in the version I released today (v0.6.0) 👍

[2022-03-02 14:39] #219 closed

[2022-03-02 14:40] hibiken commented on #213
This is included in the v0.6.0 🎉

[2022-03-02 14:40] #213 closed

[2022-03-02 14:40] hibiken commented on #214
Any luck?

[2022-03-02 16:11] wricardo commented on #214
I'm having the same problem. It just started happening today. I'm using the latest docker image of asynqmon.

![Screen Shot 2022-03-02 at 11 09 59 AM](https://user-images.githubusercontent.com/950640/156401021-6ba2d914-abf1-49be-b9ab-bf70c4b67420.png)

This is my redis info:
[code]

[2022-03-04 22:10] hibiken commented on #214
Closing this.

[2022-03-04 22:10] #214 closed

[2022-03-05 02:26] SkYNewZ commented on #97
What do you think about embeding templates ? https://pkg.go.dev/embed

[2022-03-06 04:11] hibiken commented on #97
@SkYNewZ thank you for the comment. There were some changes made to use the `embed` package since this issue has been created, so this issue may be stale. I'll look into this issue once again soon when I have enough bandwidth.

[2022-03-17 09:31] raecoo opened #222 "The Metrics menu isn't displaying after Prometheus integrated"
I’m tried to integrate the Prometheus with asynqmon to monitor our tasks by the following command, the Metrics menu doesn't appear in the sidebar, but I can access using the `http://localhost:8080/q/metrics?duration=86400` to access the metrics chart.

`./asynqmon -redis-addr="127.0.0.1:6379" -enable-metrics-exporter=true -prometheus-addr=http://127.0.0.1:9090 -redis-db=1`

<img width="1165" alt="

[2022-03-17 13:00] hibiken commented on #222
@raecoo Thank you for reporting this!

You are right, I somehow managed to have an empty else block in the committed code 😆
I'll fix this now, and release a new version of the Web UI with the fix!

[2022-03-17 13:13] #222 closed

[2022-03-17 13:18] hibiken commented on #222
Just released a new version v.0.6.1. Please let me know if you are still seeing the issue!

[2022-03-17 13:28] raecoo commented on #222
Pretty cool, I've tested and the problem resolved.
Thank you for the fast response.

[2022-03-17 13:34] piperck commented on #222
Very helpful thank you. @hibiken

[2022-04-13 14:49] tinnkai commented on #78
I also hope that hibiken can implement this function @hibiken

[2022-04-17 23:52] tonytony2020 commented on #78
any updates?

[2022-04-18 18:09] hibiken commented on #78
@tinnkai @tonytony2020 thanks for the comments!
I'm planning to invest some time in tooling (CLI, Web UI) in the coming weeks. So I'll take a look at this issue then!

[2022-04-26 03:13] linhbkhn95 opened #235 "Support sentinel redis"
Thanks everyone about lib `asynq`. So, Currently, I use Redis sentinel for storage tasks, I wanna view stats on `asynqmon`. However, I have never seen this lib `asynqmon` tell about integrating with Redis sentinel. Please support me. or I can contribute for this issue if it has not.
Thanks all,

[2022-04-26 12:54] chenlujjj commented on #18
Hi, Any updates on this issue? @hibiken

[2022-04-26 13:42] chenlujjj opened #236 "Not work when used as a library and integrated with gin"
Code:
[code]
But when I opened localhost:8000/monitoring in browser, it showed nothing.

I checked the html it returned, as following:
[code]

[2022-04-26 23:45] hibiken commented on #235
@linhbkhn95 Thank you for opening this issue!

You should be able to provide the `--redis-url` flag with the format:
[code]

Let me know if that doesn't work for you!

I'll update the documentation so that others don't come across this same issue.

[2022-04-26 23:46] hibiken commented on #18
@chenlujjj thank you for the ping! I'm planning to invest some time in tooling in the coming weeks, so I'll revisit this issue then!

[2022-04-27 10:14] linhbkhn95 commented on #235
many thanks @hibiken

[2022-04-28 02:14] piperck opened #237 "When messages over 10m, it will case a display issue"
![image](https://user-images.githubusercontent.com/8776176/165662637-fb367af3-1eb0-41f9-b594-83deb9138fbc.png)

![image](https://user-images.githubusercontent.com/8776176/165662668-703912ff-6601-44fc-b6d5-b1bbfad6dfda.png)

Please help to check this 🙋‍♀️  Thanks.

[2022-04-28 13:03] hibiken commented on #236
@chenlujjj Thank you for reporting an issue!

I'm not familiar with gin framework, but what we need is all requests with `h.RootPath()` prefix in URL should be sent to the handler `h` in the example above (not just GET requests, but also POST, DELETE, etc). Let me know if you find an answer.

I don't have enough bandwidth to look into this right now, but I'll investigate when I do have time!

[2022-04-28 13:04] hibiken commented on #237
@piperck Thank you for reporting this issue!
I'll look into this.

[2022-04-29 05:02] anupriya17 commented on #236
I don't think it's gin issue. We encountered similar issue and it seems like the content-type header for the static js files in response are ```text/plain``` instead of the ```application/javascript```.  Since we don't have the bandwidth to deep dive, we just overwrite the response header in our middleware.

[2022-04-29 15:01] linhbkhn95 commented on #235
I try to test, So I can not run app, please help me :(

[2022-05-01 13:21] piupuer commented on #235
I add it in docker container, get error log:
`redis: invalid URL scheme: redis-sentinel`

[2022-05-01 13:25] piupuer commented on #235
I add it in docker container, get error log:
`redis: invalid URL scheme: redis-sentinel`
and I saw the source code, use redis.ParseURL, maybe u can use asynq.ParseRedisURI
please fix it, thanks

[2022-05-03 05:58] linhbkhn95 commented on #235
@hibiken I have a PR to fix this problem at https://github.com/hibiken/asynqmon/pull/240
@piupuer you can use my docker customize at https://hub.docker.com/repository/docker/linhbkhn95/asynqmon/tags, It will support Redis sentinels, currently my project need it for view tasks
many thanks

[2022-05-03 05:58] piupuer commented on #235
感谢来信，但您所发的用户不在服务区，请稍后再发！

[2022-05-06 12:38] #235 closed

[2022-05-13 13:54] NobodysNightmare opened #243 "Redis URL is not working as documented"
Hey there,

I just noticed today that parsing the `REDIS_URL` environment variable does not work as documented.

### Environment

* Running in Kubernetes
* Using the docker image `hibiken/asynqmon:0.7.1` directly

### Expected behaviour

Asynqmon works correctly when passing an environment variable like `REDIS_URL=redis://example.com`. I take this from the [docs linked for possible URL formats](ht

[2022-05-17 17:15] andy-opal opened #244 "Payload with new lines is not printable"
`unicode.IsPrint` returns `false` for `\n` so the function here returns false for any payload containing newlines:

https://github.com/hibiken/asynqmon/blob/1597dac66ef80b0a22183df675f8038bd6bb5baa/conversion_helpers.go#L62

I think it would still be good to render these payloads in asynqmon. Maybe you could whitelist carriage returns and newlines?

[2022-06-06 08:27] eaglebetter commented on #97
The problem is still not fixed

[2022-06-12 10:49] rugwirobaker opened #248 "Add auth support for prometheus server"
Most production Prometheus servers ask for authentication before you can access them. Adding at least Bearer token and simple password authentication schemes would great.

[2022-06-17 07:32] hxdhero commented on #236
`      g := gin.New()
	h := asynqmon.New(asynqmon.Options{
		RootPath:     "/monitor", // RootPath specifies the root for asynqmon app
		RedisConnOpt: asynq.RedisClientOpt{Addr: ":6379"},
	})
	g.Any("/monitor/*a", gin.WrapH(h))`

it works

[2022-07-08 03:21] 9trocode opened #252 "Asynqmon prometheus metrics integration not working"
Following the guide on setting up metrics for asynqmon is not working api keep returning 500 error

[2022-07-18 04:27] syahidfrd commented on #78
Hi, i have made asynqmon with simple basic auth, you can check this: https://github.com/syahidfrd/asynqmon-handler

[2022-07-18 05:43] syahidfrd commented on #78
Hi, i have made asynqmon with simple basic auth, you can check this https://github.com/syahidfrd/asynqmon-handler
[code]

[2022-07-20 19:32] 21888 opened #257 "unexpected path prefix"
http://localhost:8080/monitoring/
http://localhost:8080/

[code]

What does he mean by launching directly as HTTP

[2022-07-25 06:38] rohitjha941 opened #258 "TLS config for AWS Elastiscache"
I am trying to use TLS to connect to AWS Elasticsearch.  I have been using the following configurations with the go client. I am not defining the server name in the config as mentioned below.

[code]

The `makeTLSConfig`  makes it mandatory for me to provide a server name, which is not desired here.
[code]

[2022-08-23 19:41] localhosted commented on #97
Can't use it at all in Windows, only forking and fixing. Any news on this PR(https://github.com/hibiken/asynqmon/pull/251)?

[2022-09-19 13:57] brokeyourbike opened #268 "Support multi-platform images"
Right now only `linux/amd64` architecture is supported, but images can be build for a [variety of architectures](https://github.com/docker-library/official-images#architectures-other-than-amd64).

I believe only a simple change to the GitHub workflow based on [this guide](https://docs.docker.com/build/building/multi-platform/) is required. I will do y best to create a PR, although I am not an expe

[2022-09-26 19:39] fc221 commented on #257
Brother, have you solved it? I have encountered similar problems

[2022-09-27 06:21] binary4cat commented on #257
I'm currently having this problem.

[2022-10-07 15:15] seanhsu17 opened #273 "Add a flag for input redis username"
### Description
We need to use the Redis username to connect to our Redis, but it seems there is no this flag to start asynqmon.
I tried to use the redis-url to start it, but there are some special characters in our password (e.g. @, % etc...) so the parser will parse our password in the wrong way.

### Solution
Can I submit a PR to add a flag for `--redis-username`?

[2022-10-08 03:02] hibiken commented on #273
Sure, please feel free to open a PR

[2022-10-09 03:23] wuwenrufeng commented on #236
i found it work only linux not windows

[2022-10-10 07:59] ChihSeanHsu commented on #273
Thanks, I've created a PR for this issue.

[2022-10-13 03:47] huizhang001 opened #275 "Tools/async does not exist？"
<img width="614" alt="image" src="https://user-images.githubusercontent.com/26496638/195494591-98694a0b-b6f9-4880-902e-03054277d00a.png">

[2022-10-13 03:49] #275 closed

[2022-10-18 15:10] sruehl commented on #268
stumbled over the same: there is also a blog post for that https://www.docker.com/blog/multi-arch-images/

[2022-10-18 15:12] sruehl opened #276 "Add support for health check"
I am using asynqmon in a docker compose and would like to add a healthcheck for the service.
As the image is based on scratch there is no wget in it. Could we add a healthcheck binary maybe to the image?
(e.g. like this https://github.com/Soluto/golang-docker-healthcheck-example/blob/master/README.md)

[2022-11-01 09:04] wwwfeng opened #277 "When will the tag completed tasks show on WebUI ?"
![image](https://user-images.githubusercontent.com/32693877/199198642-33780a21-362d-48a0-936a-3770950801a4.png)